* {
  margin: 0%;
  padding: 0%;
}

* {
  font-family: "Roboto", sans-serif;
}

header {
  color: #3f3f3f;
}

main {
  color: #3f3f3f;
}

footer {
  color: #3f3f3f;
}

header {
  background-color: #fffff0;
}
header nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #4e4c45;
}
header nav li {
  list-style-type: none;
}
header nav li .enlaceheader {
  color: #686c5e;
  font-size: 15px;
  text-decoration: underline;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  display: flex;
}
header nav li .enlaceheader:hover {
  margin: 10px;
  transition: 1s;
}
header nav .imaglogo {
  width: 55px;
  border-radius: 80px;
  display: flex;
  margin: 5px;
}

footer section ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid #4e4c45;
  border-bottom: 1px solid #4e4c45;
}
footer section ul li {
  list-style-type: none;
}
footer section ul li .botones-footer {
  color: #686c5e;
  font-size: 15px;
  text-decoration: underline;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  display: flex;
}
footer section ul li .botones-footer:hover {
  margin: 10px;
  transition: 1s;
}
footer section .imaglogo {
  width: 55px;
  border-radius: 80px;
  display: flex;
  padding: 10px;
}

section a .walink {
  width: 27px;
  position: fixed;
  left: 20px;
  bottom: 45px;
}
section a .iglink {
  width: 27px;
  position: fixed;
  left: 20px;
  bottom: 15px;
}

@media only screen and (max-width: 320px) {
  main .imagcabecera {
    display: none;
  }
  main .grid-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  main .grid-container section .grid-item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  footer section .walink {
    display: none;
  }
  footer section .iglink {
    display: none;
  }
}
#carouselExample {
  max-width: 600px;
  margin: auto;
}

.carousel-item-img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.carousel {
  padding: 15px;
}

header .cabeceraindex {
  background-color: #fff8dc;
  text-align: center;
  padding: 10px;
  color: #4e4c45;
  font-size: 15px;
  border: 1px solid #4e4c45;
  text-decoration: none;
}
header .cabeceraindex .enlacecabecera {
  color: #4e4c45;
  text-decoration: underline;
  font-size: 17px;
}
header .cabeceraindex div p {
  background-color: beige;
}

main {
  margin: 15px;
}
main .imagcabecera {
  display: flex;
  height: 350px;
  justify-content: space-around;
}
main .grid-container {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(3, 5fr);
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
main .imagindex {
  width: 250px;
  border: 2px solid #fff8dc;
}
main div .tituloindex {
  color: #4e4c45;
  font-size: 35px;
  font-weight: 500;
  text-align: center;
  text-decoration: underline;
  padding: 25px;
}
main section .grid-item {
  justify-self: center;
  align-self: center;
}

main {
  margin: 0px;
  padding: 0px;
}
main section .titulosobremi, main section div .tituloenviosycambios {
  font-size: 35px;
  font-weight: 50;
  text-align: center;
  text-decoration: underline;
  font-style: oblique;
  display: flex;
  justify-content: center;
  padding: 10px;
}
main section .textosobremi {
  font-size: 16px;
  text-align: left;
  padding: 30px;
}
main .seccionform {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
main section .titulosobremi2 {
  font-size: 20px;
  font-weight: 450;
  text-decoration: underline;
  text-align: center;
  display: flex;
}
main section .formulario {
  font-size: 15px;
  font-weight: 550;
  text-decoration: underline;
  text-align: left;
}

main .titulotienda {
  font-size: 35px;
  font-weight: 450;
  text-decoration: underline;
  text-align: left;
  padding: 20px;
  background-color: #c3b491;
}
main .textotienda {
  background-color: #c3b491;
  border-bottom: 1px solid #4e4c45;
  font-size: 17px;
  text-align: right;
  padding: 10px;
  font-style: oblique;
}
main .grid-containertienda {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 5fr);
  justify-content: center;
  align-items: center;
}
main section .grid-item-tienda {
  justify-self: center;
  align-self: center;
  text-align: center;
  margin: 15px;
}
main section div .imagtienda {
  width: 250px;
  border: 2px solid #fff8dc;
}
main section div .producto {
  color: #686c5e;
  font-size: 25px;
  text-decoration: underline;
  font-style: normal;
  text-align: center;
}
main section div .precionuevo {
  color: #686c5e;
  font-size: 20px;
  text-align: center;
}
main section div .precioviejo {
  color: #686c5e;
  font-size: 15px;
  text-decoration: line-through;
  font-style: oblique;
  text-align: center;
}
main section .titulotalles {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  text-decoration: underline;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c3b491;
}
main section .contenedor-talles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #c3b491;
}
main section div .imagtalles {
  width: 350px;
  padding: 15px;
  border-radius: 25%;
  display: block;
}
main section div .imagtalles:hover {
  margin: 20px;
  transition: 1s;
}

section .enviosycambios {
  padding: 15px;
  background-color: #c3b491;
  color: #4E4C45;
}
section div .tituloenviosycambios {
  background-color: #c3b491;
  color: #4E4C45;
}
section div .subtituloenvios {
  font-size: 15px;
  font-weight: 800;
  text-decoration: underline;
  text-align: left;
  padding: 25px;
  font-style: oblique;
}
section div .contenidoenvios {
  font-size: 15px;
  font-weight: 500;
  padding: 15px;
}

main .grid-containercontacto {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  background-color: #c3b491;
  color: rgb(96, 86, 72);
}
main section .grid-itemcontacto {
  justify-self: center;
  align-self: center;
  margin: 15px;
  background-color: #fdfbf6;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid bisque;
}
main section div .titulocontacto {
  font-size: 35px;
  font-weight: 500;
  text-decoration: underline;
  margin: 10px;
}
main section div .titulodonde {
  font-size: 35px;
  font-weight: 500;
  font-style: oblique;
  text-decoration: underline;
  margin: 10px;
}
main section div .mapita {
  width: 400px;
  border-radius: 10px;
}
main section div .tituloform {
  font-size: 25px;
  font-weight: 500;
  text-decoration: underline;
  margin: 10px;
}

footer {
  background-color: #fdf5e6;
}

.mainsobremi {
  background-color: #fffff0;
}

.texto-card-index {
  color: #686c5e;
  font-size: 25px;
  text-decoration: underline;
  font-style: normal;
  text-align: center;
}

.texto-card-indexdos {
  color: #686c5e;
  font-size: 20px;
  text-decoration: none;
  font-style: normal;
  text-align: center;
}

.texto-tachado {
  color: #686c5e;
  font-size: 15px;
  text-decoration: line-through;
  font-style: oblique;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
