section{
        .enviosycambios{
        padding:15px;
        background-color: #c3b491; 
        color:#4E4C45;
    }
    div{
        .tituloenviosycambios{
         @extend .titulosobremi;         
         }      
         .tituloenviosycambios{
            background-color: #c3b491; 
            color:#4E4C45;
         }
        }
     div{
        .subtituloenvios{
            font-size:15px;
            font-weight: 800;
            text-decoration:underline;
            text-align:left;
            padding: 25px;
            font-style:oblique;
         }
         .contenidoenvios{
            font-size:15px;
            font-weight:500;   
            padding: 15px;     
            }    
     }        
}





