footer{
    section{
        ul{ display: flex;
            justify-content: space-evenly;
            align-items: center;
            border-top: 1px solid #4e4c45;
            border-bottom:1px solid #4e4c45 ;
            li{ list-style-type: none;
                .botones-footer{
                    color:#686c5e;
                    font-size: 15px;
                    text-decoration:underline;
                    text-align: center;
                    font-weight: bold;          
                    border-radius: 5px;          
                    display:flex;      
                     }
                .botones-footer:hover{
                    margin:10px;         
                    transition: 1s;
                }
                }
            
            }
            .imaglogo{
                width: 55px;     
                border-radius: 80px;
                display: flex;
                padding: 10px;
            }
            
        }
    }
    section{ 
        a{ .walink {
            width: 27px;
            position:fixed;
            left:20px;   
            bottom:45px;  
        }
    }
        a{ .iglink {
            width: 27px;
            position:fixed;
            left:20px; 
            bottom: 15px;    
        }           
    }
    }

  
    
   

