// fuente
*{font-family: 'Roboto', sans-serif;
}
// variable para color fuente
$colorfuenteppal:#3f3f3f; 

//colores fuente
header{
    color: $colorfuenteppal ;}
    
main{
    color:$colorfuenteppal;
}
footer{
    color:$colorfuenteppal;
  
}


