header {   background-color:#fffff0; 
  
    nav{       
      ul{
        display:flex;    
        justify-content: space-evenly; 
        align-items: center;        
        border-bottom: 1px solid #4e4c45;
      }
      li{ list-style-type:none ;
        .enlaceheader         
          
          {
          color:#686c5e;
          font-size: 15px;
          text-decoration:underline;
          text-align: center;
          font-weight: bold;          
          border-radius: 5px;          
          display:flex;         
        
        
        }
        .enlaceheader:hover{
          margin:10px;         
          transition: 1s;
        }
    }
.imaglogo{
    width: 55px;     
    border-radius: 80px;
    display: flex; 
    margin:5px;
    
   
  }
}

}
