// media queries celu
@media only screen and (max-width: 320px) {

main{
    .imagcabecera{
        display:none;
    }
    .grid-container{
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
    section{
        .grid-item{
            display:flex;
            flex-direction: column;
            flex-wrap: nowrap;
        }
    }
}

}
   
 
footer{
    section{
        .walink{
            display: none;
        }
        .iglink{
            display: none;
        }
    }
}

}


  