section{
    .titulosobremi{
        font-size:35px;
        font-weight: 50;
        text-align: center;
        text-decoration: underline;
        font-style: oblique;
        padding: 35px;
    }                      
    .textosobremi{
            font-size:16px ;
            text-align:left;
            padding: 30px;
        }
    } 

section{
    .titulosobremi2{
        font-size: 20px;
        font-weight: 450;
        text-decoration: underline;
        text-align: left;
        padding-top: 25px;
        padding-left:30px ;   
    }
    .textosobremi{
        font-size:16px ;
        text-align:left;
        padding: 30px;
     
    }
}

section{
    .formulario{
        font-size: 15px;
        font-weight: 550;
        text-decoration: underline;
        text-align: left;
        padding-top: 25px;
        padding-left:30px ;
        padding-bottom: 25px;    
    }

    div{ .titulosobremi2{
        font-size: 20px;
        font-weight: 450;
        text-decoration: underline;
        text-align: left;
        padding-top: 25px;
        padding-left:30px ;   
    }
        
    }
}

