
main{ margin:0px;
    padding:0px;

section{
    .titulosobremi{
        font-size:35px;
        font-weight: 50;
        text-align: center;
        text-decoration: underline;
        font-style: oblique;
        display: flex;
        justify-content: center;
        padding:10px;
        
    }                      
    .textosobremi{
            font-size:16px ;
            text-align:left;
            padding: 30px;
        }
    } 
.seccionform{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
section{
    
    .titulosobremi2{
        font-size: 20px;
        font-weight: 450;
        text-decoration: underline;
        text-align: center;
        display: flex;

         
     
    }
   
    .formulario{
        font-size: 15px;
        font-weight: 550;
        text-decoration: underline;
        text-align: left;   
         
     
    }
   
}
}

